---
import BaseLayout from '../layouts/BlogPost.astro';

const title = 'About';
const description = 'About your blog.';
const permalink = `${Astro.site.href}about`;
---

<BaseLayout title={title} description={description} permalink={permalink} current="about">
  <div class="container">
    <h1>About</h1>
    <figure class="about-image">
      <img src="/assets/about-illustration.webp" alt="Illustration of a notebook" width="330">
      <!-- <figcaption>
        Illustration by
        <a href="https://icons8.com/illustrations/author/5c07e68d82bcbc0092519bb6" target="_blank" rel="noopener">Icons 8</a>
        from
        <a href="https://icons8.com/illustrations" target="_blank" rel="noopener">Ouch!</a>
      </figcaption> -->
    </figure>
  <p>Welcome to Gain With Crypto, your go-to source for all things related to earning money with cryptocurrency. Our Website is dedicated to providing valuable information and resources to help you navigate the ever-evolving world of crypto.</p>
  <p>We cover a wide range of topics, from the basics of investing in cryptocurrency to advanced trading strategies. Whether you're a complete beginner or a seasoned pro, you'll find valuable insights and actionable advice on our blog.</p>
  <p>One of the unique features of our site is our live crypto tracking feature. This allows you to stay on top of the latest market trends and make informed decisions about your investments. With real-time updates and detailed charts, you'll always be in the know about the performance of your favorite coins.</p>
  <p>Live Crypto Tracker: <a href="https://pro.gainwithcrypto.com/" target="_blank">Link</a></p>
  <p>At Gain With Crypto, we are passionate about helping people succeed in the world of cryptocurrency. We believe that with the right knowledge and resources, anyone can earn money with crypto. So join us on our journey and let's make some gains together!</p>
  <p>Follow us on <a href="https://twitter.com/igainwithcrpto" target="_blank">Twitter</a></p>
  </div>
</BaseLayout>

<style>
  .about-image {
    float: right;
    margin: -3em -7em 2em 2em;
    max-width: 300px;
  }

  .about-image img {
    border-radius: 8px;
    margin-bottom: 1.5em;
  }

  @media (max-width: 1020px) {
    .about-image {
      float: none;
      margin: 0 auto 2em;
    }
  }
</style>
