---
import Google from './GoogleAnalytics.astro'
---
<footer>
  <span>
    &copy; {new Date().getFullYear()} Gain With Cyrpto.
    <!-- Powered by <a href="https://astro.build" target="_blank" rel="noopener">Astro</a>. -->
    Created by <a href="https://www.twitter.com/oneforthidiot" target="_blank" rel="noopener">oneforthidiot</a>.
  </span>
  <Google/>
</footer>

<style>
  footer {
    color: var(--text-secondary);
    font-size: .8em;
    margin: 1em auto;
    max-width: 1400px;
    padding: 1em 2em;
    text-align: center;
    width: 100%;
  }
</style>
  <script> document.getElementById('astro-46MODGRN').hidden = true; </script>
