---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

export interface Props {
  title: string;
  description: string;
  permalink: string;
  current?: string;
}
const { title, description, permalink, current } = Astro.props;
---
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7437875110741421"
     crossorigin="anonymous"></script>
    <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-MRR33SXNGT"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-MRR33SXNGT');
</script>
<html lang="en">
<head>
  <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  <BaseHead title={title} description={description} permalink={permalink} />
</head>
<body>
  <div class="layout">
    <Header current={current} />

    <main>
      <slot />
    </main>

    <Footer />
  </div>
</body>
</html>

<style>
  .layout {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    min-height: 100vh;
  }

  main {
    flex: 1;
    position: relative;
    margin: 0 auto;
    max-width: 1400px;
    padding: 1em 2em;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
</style>
<script>
  declare global {
    interface Window {
      netlifyIdentity: any;
    }
  }
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", ((user: any) => {
    if (!user) {
      window.netlifyIdentity.on("login", () => {
      document.location.href = "/admin/";
      });
    }
    }));
  }
  </script>
